* {
    margin: 0;
    padding: 0;
}
body{
    position: relative;
}
h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
    
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 900px;
    height: 500px;
    background: rgba(10, 136, 41, 0.664);
}
.piano-key-white, .piano-key-black {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 40px;
    height: 150px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
}

.container2 {
    display: flex;
    position: absolute;
    top: 175px;
}
.piano-key-black {
    align-items: center;
    height: 80px;
    top: 175px;
    background-color: black;;
    border: 1px solid white;
    border-top: none;
    color: white;
    z-index: 2;
    
}

.piano-key-black:nth-child(5) {
    visibility: hidden;
}